@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif !important;
}
/* header part design*/
/* 2480 x 3508 pixels = A4
 */
.cv-main {
  /* font-family: "Poppins", sans-serif; */
  /* border: 1px solid black; */
  padding: 80px;
}
h1 {
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center;
  padding: 0%;
  margin: 0;
}
.cell {
  text-align: center;
}
.cell {
  color: blue;
}

.top-text,
.top-text-2 {
  padding: 0%;
  margin: 0%;
}
.header-part {
  margin-bottom: 60px;
}
/* 591x709  */
#display_image {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
.signature-image img {
  height: 100%;
}
.signature-image {
  width: 200px;
  height: 50px;
  border-bottom: 1px solid black;
  /* background-position: center;
  background-size: cover; */
}

.signature {
  margin-top: 200px;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  /* margin-top: -190px;
  margin-left: 800px; */
  position: absolute;
  top: 15px;
  left: 900px;
}

input {
  border: none;
  width: 600px;
}
.reference-div {
  margin-top: 35px;
}
.reference-div p {
  font-weight: bold;
  padding: 0%;
  margin: 0%;
}

/* input part design  */
.input-div {
  margin: 60px;
}
tr > td {
  font-weight: bold;
}
